.vscode/**
.vscode-test/**
.gitignore
test/**
src/**
out/*.js.map
syntaxes/references/**
syntaxes/scad.yaml-tmLanguage
tsconfig.json
tslint.json
vsc-extension-quickstart.md
scad-icon-theme.json
makescad.bat