/* https://github.com/openscad/openscad.github.com/blob/master/cheatsheet/css/main.css (0354879) */
body {
	/* font-family: "UbuntuMonoRegular", "Ubuntu Mono", 'courier new', monospace, sans-serif; */
	font-size: 100%;
	line-height: 1em;
	color: var(--vscode-foreground);
	padding: 0.6em;
}

a {
	color: var(--vscode-editorLink-activeForeground);
}

a:hover {
	color: var(--vscode-editorLink-activeForeground);
}

h1 {
	/* font-family: "UbuntuMonoBold", "Ubuntu Mono", 'courier new', monospace, sans-serif; */
	font-weight: normal;
	font-style: normal;
	font-size: 1.8em;
	color: var(--vscode-foreground);
	margin: 0 0 0.6em 0;
}

header h1 {
	display: inline-block;
	margin-right: 1ex;
}

/* colour the header 'Open' & 'SCAD' and make bolder and chunky
like the cornfield default scheme from colormap.cc
Open - #9dcb51;} OPENCSG_FACE_BACK_COLOR - green
SCAD - #f9d72c;} OPENCSG_FACE_FRONT_COLOR - yellow
 - for reference #FFFFE5;} BACKGROUND_COLOR - pale yellow/cream, used above 
*/
header h1.title {color:var(--vscode-foreground); letter-spacing:-1px; font-weight:700;}
header h1 span.green {color:var(--vscode-foreground); letter-spacing:0px;}

/* header h2.subtitle {color:black; letter-spacing:-1px;} */

/* colour OPEN & SCAD in the home/section heading the same*/
section h1 strong {color:var(--vscode-foreground); font-weight:700; letter-spacing:-1px;}
section h1 strong span.green {color:var(--vscode-foreground); letter-spacing:0px;}

h2 {
	/* font-family: "UbuntuMonoBold", "Ubuntu Mono", 'courier new', monospace, sans-serif; */
	font-weight: normal;
	font-style: normal;
	font-size: 1.4em;
	color: var(--vscode-tab-activeForeground);
	margin: 0 0 10px 0;
}

header h2 {
	display: inline;
	color: var(--vscode-foreground);;
}

header h2 a {
	color: var(--vscode-foreground);;
}

section {
	float: left;
}

section section article {
	float: none;
}

article {
	/* background: var(--vscode-editor-background); */
	-webkit-border-radius: 0.6em;
	-moz-border-radius: 0.6em;
	border-radius: 0.6em;
	padding: 0.6em 0.6em 0.6em 0.6em;
	float: left;
	margin: 0 0.6em 0.6em 0;
	border: 1px solid var(--vscode-tab-inactiveForeground);
}

article.info {
	/* background: #fff; */
	border: 1px solid var(--vscode-tab-inactiveForeground);
}

article.info h2 {
	color: var(--vscode-tab-activeForeground);
}

code {
	/* font-family: "UbuntuMonoRegular", "Ubuntu Mono", 'courier new', monospace, sans-serif; */
	color: var(--vscode-tab-activeForeground);
	display: block;
	font-size: larger;
	margin: 0 0 0.5em 0;
}

/* Used for `for()` and other function argument descriptions */
code span {
	color: var(--vscode-tab-inactiveForeground);
}

dt code {
	display: inline;
}

dt {
	float: left;
	clear: left;
}

dd {
	margin: 0 0 .5em 3em;
        color: var(--vscode-tab-activeForeground)
}

ul {
	margin: 0 0 0.5em;
	padding: 0 1em;
}

ul li {
	/*margin: 0 0 0.2em 0;*/
	line-height: 1.2em;
}

footer {
	clear: both;
	float: right;
	font-size: 0.7em;
	margin: 0 0.6em 0.6em 0;
	text-align: right;
}

.clear {
	clear: both;
}

.fork {
	position: absolute;
	top: 0;
	right:0;
}

.fork img{
	border: none;
}

/* Tooltip stuff */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted; /*var(--vscode-symbolIcon-keywordForeground); /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: var(--vscode-editorGroupHeader-tabsBackground);
  color: var(--vscode-editor-selectionForeground);
  text-align: center;
  white-space: nowrap;
  padding: 8px;
  border-radius: 6px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 3em;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--vscode-editorGroupHeader-tabsBackground) transparent transparent transparent;
}